.recipe-box{
  display: flex;
}
.recipe-box > div{
  width: 50%;
}
.recipe-box-image{
  align-items: center;
  display: flex;
}
.recipe-image{
  max-width: 100%;
}
.pagebox{
  display: flex;
  justify-content: space-between;
}
